<div class="quiz-container">
  <!-- Progress Bar -->
  <div class="progress-bar">
    <div class="progress" [style.width.%]="progress">

    </div>

  </div>
  <div  *ngIf="!showResults" class="percentages">
    {{progress}} % Of Questions
  </div>

  <!-- Quiz Card -->
  <div *ngIf="currentQuestion && !showResults" class="quiz-card">
    <h2>{{ currentQuestion.question }}</h2>

    <!-- Dynamic Input Controls -->
    <div *ngIf="currentQuestion.type === 'multiple'">
      <div *ngFor="let option of getOptions()" class="option" [class.selected]="selectedAnswer === option"
        (click)="selectAnswer(option)">
        {{ option }}
      </div>
    </div>

    <div *ngIf="currentQuestion.type === 'boolean'">
      <div class="option" [class.selected]="selectedAnswer === 'True'" (click)="selectAnswer('True')">
        True
      </div>
      <div class="option" [class.selected]="selectedAnswer === 'False'" (click)="selectAnswer('False')">
        False
      </div>
    </div>

    <div *ngIf="currentQuestion.type === 'freetext'">
      <input type="text" [(ngModel)]="freeTextAnswer" placeholder="Type your answer here" />
      <button (click)="selectAnswer(freeTextAnswer)">Submit</button>
    </div>

    <!-- Navigation Buttons -->
    <div class="navigation">
      <button (click)="previousQuestion()" [disabled]="currentIndex === 0">
        Previous
      </button>
      <button (click)="nextQuestion()" [disabled]="!selectedAnswer">
        Next
      </button>
    </div>
  </div>

  <!-- Results Card -->
  <div *ngIf="showResults" class="results-card">
    <h2>Quiz Results</h2>
    <p>Your Score: {{ score }}</p>
  </div>
</div>